body { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; background: rgba(249, 250, 247, 0.5);}
h3 { font-size: 1.1em; width: 100%;}
#stats, #log, #popdata { border-collapse: collapse; width: 100%; table-layout: fixed; }
td { border: 1px solid #ddd; padding: 8px; font-size: 1.1em;}
th { padding: 12px; text-align: left; }
tr:nth-child(odd) { background-color: rgba(61,61,69,0.1); }
thead tr, tfoot tr { background-color: rgba(61,61,69,1) !important; color: white; }
#stats tr:hover, #log { background-color: rgba(61,61,69,0.3); }
#log tr { background-color: #eee; }
a { text-decoration: none;}
.container {
	width: 80%;
	max-width: 800px;
	margin: 10px auto;
}
.loading {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top:15%;
	left:50%;
	z-index: 99;
}
#popup {
	display: none;
	position: fixed;
	width: 20%;
	top: 20%;
	right: 20%;
	padding: 0;
	background-color:white;
	z-index: 9;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 480px) {
	/* mobile */
	.container { width: 100%; margin: auto; font-size: 0.9em; max-width: 480px;}
	#popup { width:80%; right: 10%; }
}
.ip {
	width: 57%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.fulldate {
	width: 30%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.btns {
	float: right;
}
.button {
	display:inline;
	cursor: pointer;
	font-size: .8em;
	position: relative;
	left: 0;
	background-color:rgba(61,61,69,0.7);
	color:#fff;
	padding:5px 15px;
/* 	border:1px solid rgba(61,61,69,0.8); */
	border-radius:42px;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
}
.slideout {
	display: none;
	height: 100%;
	width: 40%;
	position: fixed;
 	z-index: 1;
	top: 0;
	right: 0;
	color:#fff;
	background:rgba(61,61,69,1);
	overflow-x: hidden;
	overflow-y: scroll;
	transition: 0.8s;
	padding: 40px;
	font-family: Neuton, Georgia, serif;
	font-size:1.4em;
	font-weight:100;
}
.slideout p{ margin: 10px 0; }
.slideout b{ font-weight: inherit;}
.slideout h2{ color: #ddd; }
.close {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	color: #868686;
	display: block;
	position: absolute;
	top: 0;
	right: 0.5em;
	font-size: 1.8em;
	font-family: Lato, sans-serif;
	margin-left: 50px;
	font-weight: 400;
}
.close:hover, .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.sep {
	border-top: 2px solid rgba(61,61,69,1);
}